<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :project_links %>
    <%= form.text_area :project_links, id: :student_project_links %>
  </div>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, id: :student_contact_email %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_area :profile, id: :student_profile %>
  </div>

  <div class="field">
    <%= form.label :desired_pay %>
    <%= form.number_field :desired_pay, id: :student_desired_pay %>
  </div>

  <div class="form-group">
    <p>Are you interested in Part Time work?</p>
    <%= form.radio_button :part_time, 'not_interested' %>
    <%= form.label :part_time, 'Not_interested' %>

    <%= form.radio_button :part_time, 'interested' %>
    <%= form.label :part_time, 'Interested' %>
  </div>

  <div class="form-group">
    <p>Are you interested in Full Time work?</p>
    <%= form.radio_button :full_time, 'not_interested_in' %>
    <%= form.label :full_time, 'Not_interested' %>

    <%= form.radio_button :full_time, 'interested_in' %>
    <%= form.label :full_time, 'Interested' %>
  </div>

  <div class="form-group">
    <p>Are you interested in Contract Work?</p>
    <%= form.radio_button :contract_work, 'yes_interested' %>
    <%= form.label :contract_work, 'Interested' %>

    <%= form.radio_button :contract_work, 'no_not_interested' %>
    <%= form.label :contract_work, 'Not_interested' %>
  </div>

  <div class="field">
    <%= form.label :skills %>
    <%= form.text_area :skills, id: :student_skills %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
